<div class="well">
  <div class="ommyo-member-omm-author"><%= message.author == current_user ? 'Me' : message.author.name %></div>
  <p class="ommyo-member-omm-excerpt"><%= message.text %></p>
</div>
