<div class="ommyo-member-content">
  <div class="ommyo-member-content-element ommyo-member-content-header">
    <h2>Omm</h2>
  </div>
  <div class="ommyo-member-content-element">
    <%= image_tag(@omm.brand.logo.url(:w88h88), :class => "ommyo-member-omm-logo", :style => 'display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;') %>
    <%= render @messages %>
    <%= render :partial => 'messages/form' if current_user == @omm.user %>
  </div>
</div>
