#ommyo-member-form {
  padding-bottom: 7px;
}

#ommyo-member-form-logos img {
  padding-bottom: 10px;
  padding-right: 10px;
}

#message_text {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
