.ommyo-member-omm-logo {
  max-width: 60px;
}

.ommyo-member-omm-author {
  color: #000;
  font-weight: bold;
}

.ommyo-member-omm-excerpt {
  margin: 0;
}

.ommyo-member-omm-tags {
  margin: 0;
}

.ommyo-member-omm-tags li {
  display: inline;
}
