<div class="ommyo-member-content">
  <div class="ommyo-member-content-element ommyo-member-content-header">
    <h2><%= @brand.name %> Omms</h2>
  </div>
  <%= render partial: 'omms/brand_omm', collection: @omms, as: :omm %>
</div>
